body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: cadetblue;
}

.forms-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid rgb(156, 197, 198);
    padding-bottom: 15px ;
    margin-bottom: 15px ;
}
form {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

/* input field style */
.input-field {
    padding: 5px 10px;
    background-color: rgb(214, 214, 214);
    max-width: 500px;
    min-width: 200px;
    height: 20px;
    border-radius: 40px;
    border-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.input-field:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.btn{
    background-color: rgb(214, 214, 214);
    height: 40px;
    width: 60px;
}


.filter-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}
/* dropdown menu style */
#myDropdown {
    width: 225px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-style: none;
}

h3{
    text-align: center;
    color: lightcoral;
}

/* tasks style */
.app{
    background-color: palegoldenrod;
    margin: 20px;
    padding: 20px;
    border-radius: 70px;
    min-height: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
ul{
    padding: 0;
}
li{
    display: flex;
    position: relative;
    text-decoration: none;
    background-color: rgb(156, 197, 198);
    align-items: center;
    margin: 5px;
    height: 30px;
    padding: 20px;
    border-radius: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
li:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}


/* buttons style */
button{
    height: 50px;
    width: 50px;
    border-radius: 90px;
    border-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}
.edit-btn{
    position: absolute;
    right: 70px;
    background-color: mediumaquamarine;
}
.delete-btn{
    position: absolute;
    right: 30px;
    background-color: lightcoral;
}


/* checkbox style */
.checkbox {
    appearance: none;
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none;    /* For Firefox */
}
.checkbox {
    display: inline-block;
    width: 25px;
    height: 19px;
}
.checkbox:before,
.checkbox:after {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    background: lightcoral;
    border: 2px solid lightcoral;
    ;
    border-radius: 7px;
}
.checkbox:after {
    z-index: 0;
    border: none;
}
.completed {
    background: rgb(214, 214, 214);
}
.completed .checkbox:before {
    transform: rotateZ(180deg);
    border-color: mediumaquamarine;
    background: mediumaquamarine;

}
li span{
    font-family: 'Caveat', cursive;
    font-size:xx-large;
}
.completed span {
    text-decoration: line-through;
}






	